In [1]:
import pandas as pd
import pandas_datareader.data as web

In [2]:
# 이 방식은 최근 4년간의 데이터만 불러온다는 단점이 있다. 
df = web.DataReader('HISTPOP', 'oecd')

In [3]:
df.columns

MultiIndex([(                    'Australia', 'Women', ...),
            (                    'Australia', 'Women', ...),
            (                    'Australia', 'Women', ...),
            (                    'Australia', 'Women', ...),
            (                    'Australia', 'Women', ...),
            (                    'Australia', 'Women', ...),
            (                    'Australia', 'Women', ...),
            (                    'Australia', 'Women', ...),
            (                    'Australia', 'Women', ...),
            (                    'Australia', 'Women', ...),
            ...
            ('European Union (27 countries)', 'Total', ...),
            ('European Union (27 countries)', 'Total', ...),
            ('European Union (27 countries)', 'Total', ...),
            ('European Union (27 countries)', 'Total', ...),
            ('European Union (27 countries)', 'Total', ...),
            ('European Union (27 countries)', 'Total', ...),
            ('European Union (27 countries)', 'Total', ...),
            ('European Union (27 countries)', 'Total', ...),
            ('European Union (27 countries)', 'Total', ...),
            ('European Union (27 countries)', 'Total', ...)],
           names=['Country', 'Sex', 'Age'], length=5208)

In [4]:
df['Australia']

Sex              Women                                                    \
Age              Total    0 to 4    5 to 9  10 to 14  15 to 19  20 to 24
Time
2017-01-01  12398090.0  767901.0  772832.0  716032.0  722532.0  840528.0
2018-01-01  12591646.0  764298.0  781107.0  736646.0  725700.0  849233.0
2019-01-01  12786368.0  761580.0  788307.0  756676.0  728456.0  850721.0
2020-01-01  12961702.0  755517.0  792689.0  776712.0  724086.0  832187.0

Sex                                                 ...       Total  \
Age         25 to 29  30 to 34  35 to 39  40 to 44  ...    15 to 64
Time                                                ...
2017-01-01  924383.0  924450.0  833090.0  806253.0  ...  16171910.0
2018-01-01  937224.0  941839.0  865201.0  800767.0  ...  16376963.0
2019-01-01  949146.0  959375.0  896946.0  802591.0  ...  16582988.0
2020-01-01  945795.0  975099.0  925980.0  814951.0  ...  16722561.0

Sex                                                                \
Age           20 to 64 65 and over Share of 65 and over - elderly
Time
2017-01-01  14689310.0   3790842.0                      15.408762
2018-01-01  14886219.0   3912975.0                      15.662746
2019-01-01  15083887.0   4040130.0                      15.927504
2020-01-01  15231645.0   4194824.0                      16.323484

Sex                                                                \
Age        Share of under 15 - children Share of 15 to 24 - youth
Time
2017-01-01                    18.856737                 13.014008
2018-01-01                    18.784008                 12.930470
2019-01-01                    18.696975                 12.808147
2020-01-01                    18.603357                 12.462991

Sex                                                      \
Age        Old age dependency ratio (65 and over/15-64)
Time
2017-01-01                                     0.234409
2018-01-01                                     0.238932
2019-01-01                                     0.243631
2020-01-01                                     0.250848

Sex                                                      \
Age        Total dependency ratio ((<20 & 65+) / 20-64)
Time
2017-01-01                                     0.674814
2018-01-01                                     0.678243
2019-01-01                                     0.681645
2020-01-01                                     0.687152

Sex                                         \
Age        Share of 15 to 64 - working age
Time
2017-01-01                       65.734501
2018-01-01                       65.553246
2019-01-01                       65.375521
2020-01-01                       65.073159

Sex
Age        Annual growth rate of total population
Time
2017-01-01                               1.698791
2018-01-01                               1.547964
2019-01-01                               1.533290
2020-01-01                               1.310224

[4 rows x 93 columns]

In [5]:
df['Australia'].columns

MultiIndex([('Women',                                        'Total'),
            ('Women',                                       '0 to 4'),
            ('Women',                                       '5 to 9'),
            ('Women',                                     '10 to 14'),
            ('Women',                                     '15 to 19'),
            ('Women',                                     '20 to 24'),
            ('Women',                                     '25 to 29'),
            ('Women',                                     '30 to 34'),
            ('Women',                                     '35 to 39'),
            ('Women',                                     '40 to 44'),
            ('Women',                                     '45 to 49'),
            ('Women',                                     '50 to 54'),
            ('Women',                                     '55 to 59'),
            ('Women',                                     '60 to 64'),
            ('Women',                                     '65 to 69'),
            ('Women',                                     '70 to 74'),
            ('Women',                                     '75 to 79'),
            ('Women',                                     '80 to 84'),
            ('Women',                                  '85 and over'),
            ('Women',                                  '50 and over'),
            ('Women',                                     'Under 20'),
            ('Women',                                     '15 to 64'),
            ('Women',                                     '20 to 64'),
            ('Women',                                  '65 and over'),
            ('Women',               'Share of 65 and over - elderly'),
            ('Women',                 'Share of under 15 - children'),
            ('Women',                    'Share of 15 to 24 - youth'),
            ('Women', 'Old age dependency ratio (65 and over/15-64)'),
            ('Women', 'Total dependency ratio ((<20 & 65+) / 20-64)'),
            ('Women',              'Share of 15 to 64 - working age'),
            ('Women',       'Annual growth rate of total population'),
            (  'Men',                                        'Total'),
            (  'Men',                                       '0 to 4'),
            (  'Men',                                       '5 to 9'),
            (  'Men',                                     '10 to 14'),
            (  'Men',                                     '15 to 19'),
            (  'Men',                                     '20 to 24'),
            (  'Men',                                     '25 to 29'),
            (  'Men',                                     '30 to 34'),
            (  'Men',                                     '35 to 39'),
            (  'Men',                                     '40 to 44'),
            (  'Men',                                     '45 to 49'),
            (  'Men',                                     '50 to 54'),
            (  'Men',                                     '55 to 59'),
            (  'Men',                                     '60 to 64'),
            (  'Men',                                     '65 to 69'),
            (  'Men',                                     '70 to 74'),
            (  'Men',                                     '75 to 79'),
            (  'Men',                                     '80 to 84'),
            (  'Men',                                  '85 and over'),
            (  'Men',                                  '50 and over'),
            (  'Men',                                     'Under 20'),
            (  'Men',                                     '15 to 64'),
            (  'Men',                                     '20 to 64'),
            (  'Men',                                  '65 and over'),
            (  'Men',               'Share of 65 and over - elderly'),
            (  'Men',                 'Share of under 15 - children'),
            (  'Men',                    'Share of 15 to 24 - youth'),
            (  'Men', 'Old age dependency ratio (65 and over/15-64)'),
            (  'Men', 'Total dependency ratio ((<20 & 65+) / 20-64)'),
            (  'Men',              'Share of 15 to 64 - working age'),
            (  'Men',       'Annual growth rate of total population'),
            ('Total',                                        'Total'),
            ('Total',                                       '0 to 4'),
            ('Total',                                       '5 to 9'),
            ('Total',                                     '10 to 14'),
            ('Total',                                     '15 to 19'),
            ('Total',                                     '20 to 24'),
            ('Total',                                     '25 to 29'),
            ('Total',                                     '30 to 34'),
            ('Total',                                     '35 to 39'),
            ('Total',                                     '40 to 44'),
            ('Total',                                     '45 to 49'),
            ('Total',                                     '50 to 54'),
            ('Total',                                     '55 to 59'),
            ('Total',                                     '60 to 64'),
            ('Total',                                     '65 to 69'),
            ('Total',                                     '70 to 74'),
            ('Total',                                     '75 to 79'),
            ('Total',                                     '80 to 84'),
            ('Total',                                  '85 and over'),
            ('Total',                                  '50 and over'),
            ('Total',                                     'Under 20'),
            ('Total',                                     '15 to 64'),
            ('Total',                                     '20 to 64'),
            ('Total',                                  '65 and over'),
            ('Total',               'Share of 65 and over - elderly'),
            ('Total',                 'Share of under 15 - children'),
            ('Total',                    'Share of 15 to 24 - youth'),
            ('Total', 'Old age dependency ratio (65 and over/15-64)'),
            ('Total', 'Total dependency ratio ((<20 & 65+) / 20-64)'),
            ('Total',              'Share of 15 to 64 - working age'),
            ('Total',       'Annual growth rate of total population')],
           names=['Sex', 'Age'])

In [6]:
df['Australia']['Total'].columns

Index(['Total', '0 to 4', '5 to 9', '10 to 14', '15 to 19', '20 to 24',
       '25 to 29', '30 to 34', '35 to 39', '40 to 44', '45 to 49', '50 to 54',
       '55 to 59', '60 to 64', '65 to 69', '70 to 74', '75 to 79', '80 to 84',
       '85 and over', '50 and over', 'Under 20', '15 to 64', '20 to 64',
       '65 and over', 'Share of 65 and over - elderly',
       'Share of under 15 - children', 'Share of 15 to 24 - youth',
       'Old age dependency ratio (65 and over/15-64)',
       'Total dependency ratio ((<20 & 65+) / 20-64)',
       'Share of 15 to 64 - working age',
       'Annual growth rate of total population'],
      dtype='object', name='Age')

In [7]:
df['Australia']['Total']['Total']

Time
2017-01-01    24601860.0
2018-01-01    24982688.0
2019-01-01    25365745.0
2020-01-01    25698093.0
Name: Total, dtype: float64

In [8]:
df[('Australia', 'Total', 'Total')]

Time
2017-01-01    24601860.0
2018-01-01    24982688.0
2019-01-01    25365745.0
2020-01-01    25698093.0
Name: (Australia, Total, Total), dtype: float64

In [9]:
countries = set()
for col in df.columns:
    country, sex, age = col
    countries.add(country)

print(countries)

{'Russia', 'Japan', 'Israel', 'Australia', 'Finland', 'Germany', 'World', 'Malta', 'Brazil', 'Bulgaria', 'Slovenia', 'Belgium', 'Slovak Republic', 'Netherlands', 'Estonia', 'Austria', 'Cyprus', 'European Union (27 countries)', 'Iceland', 'Hungary', 'New Zealand', 'OECD - Total', 'South Africa', 'Singapore', 'Switzerland', 'Portugal', 'Spain', "China (People's Republic of)", 'Turkey', 'India', 'Saudi Arabia', 'Greece', 'Luxembourg', 'United States', 'Mexico', 'France', 'Czech Republic', 'Denmark', 'Croatia', 'Sweden', 'Costa Rica', 'Colombia', 'G20', 'Korea', 'Poland', 'United Kingdom', 'Romania', 'Canada', 'Latvia', 'Ireland', 'Indonesia', 'Lithuania', 'Argentina', 'Chile', 'Norway', 'Italy'}

In [10]:
import pprint

In [11]:
pprint.pprint(countries)

{'Argentina',
 'Australia',
 'Austria',
 'Belgium',
 'Brazil',
 'Bulgaria',
 'Canada',
 'Chile',
 "China (People's Republic of)",
 'Colombia',
 'Costa Rica',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Estonia',
 'European Union (27 countries)',
 'Finland',
 'France',
 'G20',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Ireland',
 'Israel',
 'Italy',
 'Japan',
 'Korea',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Malta',
 'Mexico',
 'Netherlands',
 'New Zealand',
 'Norway',
 'OECD - Total',
 'Poland',
 'Portugal',
 'Romania',
 'Russia',
 'Saudi Arabia',
 'Singapore',
 'Slovak Republic',
 'Slovenia',
 'South Africa',
 'Spain',
 'Sweden',
 'Switzerland',
 'Turkey',
 'United Kingdom',
 'United States',
 'World'}

In [12]:
df[('Korea', 'Total', 'Total')]

Time
2017-01-01    51361911.0
2018-01-01    51606633.0
2019-01-01    51709098.0
2020-01-01    51780579.0
Name: (Korea, Total, Total), dtype: float64

In [13]:
df[[('Korea', 'Total', 'Total'), 
('China (People\'s Republic of)', 'Total', 'Total'), 
('Japan', 'Total', 'Total'), 
('Russia', 'Total', 'Total'), 
('United States', 'Total', 'Total'), 
('World', 'Total', 'Total')]]

Country,Korea,China (People's Republic of),Japan,Russia,United States,World
Sex,Total,Total,Total,Total,Total,Total
Age,Total,Total,Total,Total,Total,Total
Time,,,,,,
2017-01-01,51361911.0,1.421022e+09,126706210.0,146842404.0,325122128.0,7.547859e+09
2018-01-01,51606633.0,1.427648e+09,126443180.0,146830572.0,326838199.0,7.631091e+09
2019-01-01,51709098.0,1.433784e+09,126166948.0,146764661.0,328329953.0,7.713468e+09
2020-01-01,51780579.0,1.439324e+09,125708000.0,146459803.0,329484123.0,7.794799e+09

In [14]:
df[[('Korea', 'Total', 'Total'), 
('China (People\'s Republic of)', 'Total', 'Total'), 
('Japan', 'Total', 'Total'), 
('Russia', 'Total', 'Total'), 
('United States', 'Total', 'Total'), 
('World', 'Total', 'Total')]].dtypes

Country                       Sex    Age
Korea                         Total  Total    float64
China (People's Republic of)  Total  Total    float64
Japan                         Total  Total    float64
Russia                        Total  Total    float64
United States                 Total  Total    float64
World                         Total  Total    float64
dtype: object

In [15]:
df.dtypes

Country                        Sex    Age
Australia                      Women  Total                                           float64
                                      0 to 4                                          float64
                                      5 to 9                                          float64
                                      10 to 14                                        float64
                                      15 to 19                                        float64
                                                                                       ...
European Union (27 countries)  Total  Share of 15 to 24 - youth                       float64
                                      Old age dependency ratio (65 and over/15-64)    float64
                                      Total dependency ratio ((<20 & 65+) / 20-64)    float64
                                      Share of 15 to 64 - working age                 float64
                                      Annual growth rate of total population          float64
Length: 5208, dtype: object

In [16]:
df.loc['2020-01-01', [('Korea', 'Total', 'Total'), 
('China (People\'s Republic of)', 'Total', 'Total'), 
('Japan', 'Total', 'Total'), 
('Russia', 'Total', 'Total'), 
('United States', 'Total', 'Total'), 
('World', 'Total', 'Total')]]

Country                       Sex    Age
Korea                         Total  Total    5.178058e+07
China (People's Republic of)  Total  Total    1.439324e+09
Japan                         Total  Total    1.257080e+08
Russia                        Total  Total    1.464598e+08
United States                 Total  Total    3.294841e+08
World                         Total  Total    7.794799e+09
Name: 2020-01-01 00:00:00, dtype: float64

In [17]:
df.loc[pd.to_datetime('2020-01-01'), [('Korea', 'Total', 'Total'), 
('China (People\'s Republic of)', 'Total', 'Total'), 
('Japan', 'Total', 'Total'), 
('Russia', 'Total', 'Total'), 
('United States', 'Total', 'Total'), 
('World', 'Total', 'Total')]]

Country                       Sex    Age
Korea                         Total  Total    5.178058e+07
China (People's Republic of)  Total  Total    1.439324e+09
Japan                         Total  Total    1.257080e+08
Russia                        Total  Total    1.464598e+08
United States                 Total  Total    3.294841e+08
World                         Total  Total    7.794799e+09
Name: 2020-01-01 00:00:00, dtype: float64